*{
  font-family: 'Mitr', sans-serif;
  color: #ffffff;
  font-size: 20px;
}
body{
  background-color: #6c5c64;
}

@keyframes chegando {
  0% {
    top: 0%;
    left: 50%;
      opacity: 0;
  }
  100% {
    top: 50%;
    left: 50%;
      opacity: 1;
  }
}
@keyframes letraChegando {
  0% {
      opacity: 1;
      font-size: 50px;
      
  }
  100% {
      opacity: 1;
      font-size: 40px;
      
  }
}


@keyframes virar {
  100%{
    transform: rotateY(360deg);
  }
}
@keyframes virar_2 {
  100%{
    transform: rotateY(360deg);
  }
}


.box-letters{
    background-color: rgb(204, 36, 36);
}

.box_titles_virada {
  background-color: red;
  animation: virar 2s forwards;
}

.Title_one{
  display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .box {
    cursor: pointer;
    width: 70px;
    height: 45px;
    background-color: #4c4347;
    border-radius: 4px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box_1 {
    cursor: pointer;
    width: 70px;
    height: 45px;
    background-color: #4c4347;
    border-radius: 4px;
    margin: 3px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box_titles {
    cursor: pointer;
    font-size: 40px;
    width: 50px;
    height: 50px;
    background-color: #4c4347;
    border-radius: 4px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box_titles_2 {
    cursor: pointer;
    font-size: 40px;
    width: 43px;
    height: 45px;
    background: transparent;
    border: 3px solid #383232;
    border-radius: 4px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box_titles_3 {
    cursor: pointer;
    font-size: 40px;
    width: 43px;
    height: 41px;
    background: transparent;
    border: 3px solid #383232;
    border-bottom: 7px solid #383232;
    border-radius: 4px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box_titles_4 {
    cursor: pointer;
    animation: virar 0.5s forwards;
    font-size: 40px;
    width: 43px;
    height: 45px;
    background: #3ca494;
    border: 3px solid #383232;
    border-radius: 4px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box_titles_5 {
    cursor: pointer;
    animation: virar 0.5s forwards;
    font-size: 40px;
    width: 43px;
    height: 45px;
    background:#d4ac6c;
    border: 3px solid #383232;
    border-radius: 4px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .keyboard {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Enter{
    cursor: pointer;
    width: 100px;
    height: 45px;
    background-color: #4c4347;
    border-radius: 4px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .imagem_delete{
    height: 60%;
    width: 60%;
    
  }
  .delete_img{
    cursor: pointer;
    height: 45px;
    width: 70px;
    background-color: #4c4347;
    border-radius: 4px;
    margin: 3px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title-designi{
    animation: letraChegando 0.5s forwards;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title-designi_div{
    animation: letraChegando 0.3s forwards;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
    align-items: center;
    justify-content: center;
  }
  
  .popup-content {
  
    position: absolute;
    height: 400px;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4d4d4d;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: chegando 0.5s forwards;
    align-items: center;
    justify-content: center;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }

  .btn{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }

  .btn_1{
    cursor: pointer;
    width: 130px;
    height: 45px;
    background-color: #4c4347;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: 1s;
    
  }

  .btn_1:hover{
    scale: 1.2;
  }

  .ocupar{
    width: 100%;
    height: 50%;
    margin-top: 40px;
  }

  .rank{
    margin-top: 5px;
    align-items: center;
    justify-content: center;
  }